.gradle
build/
out/
logs/
*.iml
*.ipr
*.iws
*.ids
.idea/
.DS_Store
servicio-dev.yml
src/integration/resources/test-integracion.yml
src/main/resources/*.ini
sniese.jks
*.der
*.keystore
*.key
servicio.yml
