DO
'BEGIN
IF EXISTS (SELECT * FROM pg_class WHERE relname = ''configuraciones_firmas'') THEN
  INSERT INTO servicio_firma_digital.configuraciones_firmas (nombreUsuario, caminoArchivo)
    SELECT ''delegado'', ''${certsDir}test.p12''
    WHERE NOT EXISTS
    (SELECT * FROM servicio_firma_digital.configuraciones_firmas WHERE nombreUsuario = ''delegado'');
END IF;
END'