INSERT INTO servicio_firma_digital.configuraciones_firmas (nombreUsuario, caminoArchivo)
SELECT 'admin', '${certsDir}test.p12' WHERE NOT EXISTS
(SELECT * FROM servicio_firma_digital.configuraciones_firmas WHERE nombreUsuario = 'admin');