[main]
SeguridadRealm = ec.gob.senescyt.sniese.commons.security.shiro.SeguridadRealm
SeguridadRealm.tokenAutenticacionServicio = ${tokenAutenticacionServicio}
SeguridadRealm.servicioUsuarioCliente = ${urlBaseAutorizacion}
securityManager.realms = \$SeguridadRealm
auth = ec.gob.senescyt.sniese.commons.security.shiro.AutenticacionTokenFilter

[urls]
##### Acceso autenticado
/** = auth

