database:
  driverClass: org.postgresql.Driver
  user: thoughtworks
  password: Passw0rd
  url: jdbc:postgresql://${host}/senescyt
  maxWaitForConnection: 1s
  validationQuery: "/* DB Health Check */ SELECT 1"
  initialSize: 1
  minSize: 1
  maxSize: 2
  checkConnectionWhileIdle: false
  properties:
    charSet: UTF-8
    hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate.show_sql: false
    hibernate.default_schema: servicio_firma_digital_integracion

logging:
  level: WARN

server:
  adminConnectors:
    - type: http
      port:  8460
  applicationConnectors:
    - type: http
      port: 8109
    - type: https
      port: 8459
      keyStorePath: sniese.keystore
      keyStorePassword: ${claveSnieseKeyStore}
      validateCerts: false

auditoria:
  writerClass: ec.gob.senescyt.sniese.commons.bundles.audit.LogAuditoriaWriter